# .gitlab-ci.yml
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  # KUBECONFIG: /tmp/kubeconfig
  KUBECONTEXT: "gke_theta-moment-469209-j0_asia-southeast1_autopilot-cluster-1"
  KUBE_NAMESPACE: "production"
  # GKE Configuration
  GCP_PROJECT_ID: "theta-moment-469209-j0"
  GKE_CLUSTER_NAME: "autopilot-cluster-1"
  GKE_CLUSTER_ZONE: "asia-southeast1"

stages:
  - build
#  - deploy

# Build and Push Docker Image
build:
  stage: build
  image: docker:28.3.3
  services:
    - docker:28.3.3-dind
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Update application.properties with production connection string
    - sed -i "s|spring.datasource.url=|spring.datasource.url=$PG_URL|g" ./src/main/resources/application.properties
    - sed -i "s|spring.datasource.username=|spring.datasource.url=$PG_USERNAME|g" ./src/main/resources/application.properties
    - sed -i "s|spring.datasource.password=|spring.datasource.url=$PG_PASSWORD|g" ./src/main/resources/application.properties
    - sed -i "s|spring.jpa.hibernate.ddl-auto=create-drop|spring.jpa.hibernate.ddl-auto=update|g" ./src/main/resources/application.properties
    - sed -i "s|spring.jpa.show-sql=true|spring.jpa.show-sql=false|g" ./src/main/resources/application.properties

    # Update MongoDB connection string to use the internal Kubernetes service
    - sed -i "s|mongodb+srv://<mongodb_user>|mongodb://admin:$MONGO_PASSWORD@mongodb-service.production.svc.cluster.local:27017/MongoDB?authSource=admin|g" ./src/main/resources/application.properties

    - sed -i "s|chatnextjs.bunlong.site|chatnextjs.bunlong.site|g" ./src/main/java/com/project/realtimechat/config/SecurityConfig.java
    - sed -i "s|chatspringboot.bunlong.site|chatspringboot.bunlong.site|g" ./src/main/java/com/project/realtimechat/config/SwaggerConfig.java

    - echo "=== Checking application.properties ==="
    - cat ./src/main/resources/application.properties

    # . at then end: is used the current directory to look for the Dockerfile...
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - main
    - develop